* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Loved by the King", cursive;
}

#main_container {
    width: 100%;
    height: 100vh;
    display: flex;
}

#left-container {
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, hsla(205, 79%, 71%, 1) 0%, hsla(153, 44%, 88%, 1) 50%, hsla(170, 76%, 83%, 1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#left-container_heading {
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    text-align: center;
    

    h1{
        font-size: 2.5rem;
        color: rgb(121, 27, 222);
        opacity: 1;
    }
}

#notes_Area {
    padding: 1rem;
    text-align: center;
    display: flex;

    #text_area_div {
        width: 85%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #color_div {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}


#text_area {
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px #45a66c;
    padding: 1rem;
    font-weight: 600;
    
}

#button_div {
    padding: 1rem;

    button {
        padding: 15px 30px;
        font-family: "Loved by the King", cursive;
        font-size: large;
        border-radius: 30px;
        border: none;
        color: white;
        background: linear-gradient(90deg, hsla(335, 83%, 54%, 1) 0%, hsla(1, 94%, 65%, 1) 50%, hsla(53, 85%, 68%, 1) 100%);
        opacity: 0.7;
        transition: opacity 0.5s ease;
    }

    button:hover {
        opacity: 1;
        transition: opacity 0.5s ease;
    } 
}

#add_button {
    margin-left: 8rem;
}

#clear_button {
    margin-left: 2rem;
}


#right_container {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 10px;
    /* display: flex; */
    
}

#notes_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

#message {
    margin-top: 10em;
    font-size: large;
}

.sticky-Div{
    width: 25%;
    height: 10rem;
    position: relative;
    padding: 1.5rem;
    margin: 1.5rem 1rem 1rem 1rem;
    word-wrap: break-word;
    border-radius: 10px;

    button {
        position: absolute;
        top: 0.5rem;
        right: 0.4rem;
    }
}

/* @media screen and (max-width: 768px) {
    #left-container, #right_container {
        width: 100%;
        padding: 10px;
    }

    #text_area {
        font-size: 1em;
    }

    #button_div {
        flex-direction: column;
    }

    #add_button, #clear_button {
        margin: 10px 0;
    }
} */


/* @media screen and (max-width: 768px) {
    button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
} */

/* @media screen and (max-width: 768px) {
    #left-container_heading h1 {
        font-size: 1.5rem;
    }
} */